@font-face {
  font-family: Mojangles;
  src: url(fonts/Mojang-Regular.ttf);
}

@font-face {
  font-family: Mojangles-Bold;
  src: url(fonts/Mojang-Bold.ttf);
}

p {
  font-family: Mojangles, Arial;
  font-size: 13px;
  word-spacing: 4px;
  color: rgb(63, 63, 63);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

div {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body {
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(198, 198, 198);
  margin-bottom: 30px;
  -webkit-text-size-adjust: none;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}