:root {
  --text: #3f3f3f;
  --background: #c6c6c6;
  --outset-top: white;
  --outset-bottom: #555555;
  --inset-top: #373737;
  --inset-bottom: white;
  --selected-background: #8b8b8b;
  --divider: #969696;
}


@font-face {
  font-family: Mojangles;
  src: url(fonts/Mojang-Regular.ttf);
}

@font-face {
  font-family: Mojangles-Bold;
  src: url(fonts/Mojang-Bold.ttf);
}

p {
  font-family: Mojangles, Arial;
  font-size: 13px;
  word-spacing: 4px;
  color: var(--text);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

div {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body {
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: var(--background);
  margin-bottom: 30px;
  -webkit-text-size-adjust: none;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.button-image {
    margin: -1px 0 0 -1.2px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0;
    image-rendering: pixelated;
    display: block;
}