.cob-title {
  font-family: Mojangles-Bold, Mojangles, Arial;
  font-size: 16px;
  text-align: center;
  margin: 20px 0 20px 0;
  word-spacing: 5px;
  flex: 1;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  min-height: 55px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  background-color: var(--background);
  border-width: 3px;
  border-radius: 0;
  border-style: solid;
  border-top-color: var(--outset-top);
  border-right-color: var(--outset-bottom);
  border-bottom-color: var(--outset-bottom);
  border-left-color: var(--outset-top);
}

.link-button-container, .hidden-link-button-container {
    margin: 0 10.5px 0 10.5px;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0;
    flex: 0.2;
}
.hidden-link-button-container {
    justify-content: start;
}

.feeling-lucky-text {
    display: inline-block;
    word-wrap: normal;
    text-overflow: clip;
    white-space: nowrap;
    overflow: visible;
    visibility: hidden;
    margin-left: 12px;
    width: 0;
}
.hidden-link-button-container:hover .feeling-lucky-text {
    visibility: visible;
}

.link-button {
    background-color: var(--background);
    height: 34px;
    width: 34px;
    padding: 0;
    margin: 0;

    display: inline-block;

    cursor: pointer;

    border-width: 3px;
    border-radius: 0;
    border-style: solid;
    border-top-color: var(--outset-top);
    border-right-color: var(--outset-bottom);
    border-bottom-color: var(--outset-bottom);
    border-left-color: var(--outset-top);
}

.hidden-link-button-container .link-button {
    visibility: hidden;
}

.hidden-link-button-container:hover .link-button {
    visibility: visible;
}

.link-button:hover, .hidden-link-button:hover {
    border-color: var(--outset-top);
}

.link-button:active, hidden-link-button:active {
    background-color: var(--selected-background);
    border-top-color: var(--inset-top);
    border-right-color: var(--inset-bottom);
    border-bottom-color: var(--inset-bottom);
    border-left-color: var(--inset-top);
}

.cob:active {
    background-color: #e3c42c;
    padding: 0;
    margin: 0;
    color: #6b340d;

    display: inline-block;

    outline-width: 3px;
    outline-style: solid;
    outline-color: #cf9f1f;
}