.cob-title {
  font-family: Mojangles-Bold, Mojangles, Arial;
  font-size: 16px;
  text-align: center;
  margin: 20px 0 20px 0;
  word-spacing: 5px;
  flex: 1;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  min-height: 55px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  background-color: rgb(198, 198, 198);
  border-width: 3px;
  border-radius: 0;
  border-style: solid;
  border-top-color: white;
  border-right-color: rgb(85, 85, 85);
  border-bottom-color: rgb(85, 85, 85);
  border-left-color: white;
}

.header-shadow {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 59px;
  z-index: 50;

  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.link-button-container {
    margin: 0 10.5px 0 0;
    padding: 0;
    display: block;
}

.link-button {
    background-color: rgb(198, 198, 198);
    height: 34px;
    width: 34px;
    padding: 0;
    margin: 0 0 0 -4px;

    display: inline-block;

    cursor: pointer;

    border-width: 3px;
    border-radius: 0;
    border-style: solid;
    border-top-color: white;
    border-right-color: rgb(85, 85, 85);
    border-bottom-color: rgb(85, 85, 85);
    border-left-color: white;
}

.link-button-image {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    image-rendering: pixelated;
    display: block;
}

.link-button:hover {
    border-color: white;
}

.link-button:active {
    background-color: #8b8b8b;
    border-top-color: rgb(55, 55, 55);
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: rgb(55, 55, 55);
}