.cob-title {
  font-family: Mojangles-Bold, Mojangles, Arial;
  font-size: 16px;
  text-align: center;
  margin: 20px 0 20px 0;
  word-spacing: 5px;
  flex: 1;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  min-height: 55px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  background-color: rgb(198, 198, 198);
  border-width: 3px;
  border-radius: 0;
  border-style: solid;
  border-top-color: white;
  border-right-color: rgb(85, 85, 85);
  border-bottom-color: rgb(85, 85, 85);
  border-left-color: white;
}

.link-button-container, .hidden-link-button-container {
    margin: 0 10.5px 0 10.5px;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0;
    flex: 0.2;
}
.hidden-link-button-container {
    justify-content: start;
}

.feeling-lucky-text {
    display: inline-block;
    word-wrap: normal;
    text-overflow: clip;
    white-space: nowrap;
    overflow: visible;
    visibility: hidden;
    margin-left: 12px;
    width: 0;
}
.hidden-link-button-container:hover .feeling-lucky-text {
    visibility: visible;
}

.link-button {
    background-color: rgb(198, 198, 198);
    height: 34px;
    width: 34px;
    padding: 0;
    margin: 0;

    display: inline-block;

    cursor: pointer;

    border-width: 3px;
    border-radius: 0;
    border-style: solid;
    border-top-color: white;
    border-right-color: rgb(85, 85, 85);
    border-bottom-color: rgb(85, 85, 85);
    border-left-color: white;
}

.hidden-link-button-container .link-button-image, .hidden-link-button-container .link-button {
    visibility: hidden;
}

.hidden-link-button-container:hover .link-button-image, .hidden-link-button-container:hover .link-button {
    visibility: visible;
}

.link-button-image {
    margin: -1px 0 0 -1.2px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0;
    image-rendering: pixelated;
    display: block;
}

.link-button:hover, .hidden-link-button:hover {
    border-color: white;
}

.link-button:active, hidden-link-button:active {
    background-color: #8b8b8b;
    border-top-color: rgb(55, 55, 55);
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: rgb(55, 55, 55);
}