.score-list {
  font-family: Mojangles, Arial;
  font-size: 13px;
  word-spacing: 4px;
  color: rgb(63, 63, 63);
  list-style-type: none;
  line-height: 25px;
}

.tooltip {
    position: relative;
}

.tooltip .tooltip-paragraph {
    display: inline-block;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

}

.tooltip-container {
    display: inline-block;
}

.tooltip-paragraph .tooltip-container {
  visibility: hidden;
  /*width: 700px;*/
  background-color: #1b0c1b;
  text-align: left;
  border-radius: 3px;
  border-style: solid;
  border-color: rgb(42, 8, 94);
  border-width: 3px;
  padding: 1px 4px 1px 4px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  margin-left: 10px;
  margin-top: -5px;
}

.tooltip-name, .tooltip-description, .tooltip-id {
    margin: 0;
    padding: 0;
    line-height: 18px;
    font-size: 13px;
}

.tooltip-name {
  color: #fcfcfc;
}

.tooltip-description {
    color: rgb(168, 168, 168);
}

.tooltip-id {
    color: #545454;
}

.tooltip-paragraph:hover .tooltip-container {
  visibility: visible;
}