.score-list {
  font-family: Mojangles, Arial;
  font-size: 13px;
  word-spacing: 4px;
  color: rgb(63, 63, 63);
  list-style-type: none;
  line-height: 25px;
  display: flex;
  flex-direction: column;
}

.score-list-item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: top;
}

.score-list-item .score-title-paragraph {
    display: inline-block;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    margin: 0 0 23px 0;
    width: 250px;
}

.tooltip-container {
    display: inline-block;
    max-width: 500px;
}

.info-box .tooltip-container {
  visibility: hidden;
  /*width: 700px;*/
  background-color: #1b0c1b;
  text-align: left;
  border-radius: 4px;
  border-style: solid;
  border-color: rgb(42, 8, 94);
  border-width: 4px;
  padding: 4px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  margin-left: 20px;
  margin-top: -5px;
}

.info-box:hover .tooltip-container {
  visibility: visible;
}

.tooltip-name, .tooltip-description, .tooltip-id {
    margin: 0;
    padding: 0;
    font-size: 13px;
}

.tooltip-name {
    margin-top: -6px;
    color: #fcfcfc;
}

.tooltip-description {
    color: rgb(168, 168, 168);
    line-height: 18px;
}

.tooltip-id {
    color: #545454;
    margin-bottom: -5px;
}

.info-box {
    font-family: Mojangles, Arial;
    font-size: 13px;
    color: rgb(63, 63, 63);
    display: inline;

    height: 23px;
    width: 23px;
    padding-left: 1px;
    text-align: center;

    background-color: rgb(198, 198, 198);
    border-width: 3px;
    border-radius: 2px;
    border-style: solid;
    border-top-color: white;
    border-right-color: rgb(85, 85, 85);
    border-bottom-color: rgb(85, 85, 85);
    border-left-color: white;
    margin: 0 25px 0 0;
}

.info-box:hover {
    outline: none;
    color: white;
    border-top-color: rgb(85, 85, 85);
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: rgb(85, 85, 85);
    background-color: #8b8b8b; /*rgb(198, 198, 198);*/
}

.score-input {
    font-family: Mojangles, Arial;
    font-size: 13px;
    color: rgb(63, 63, 63);
    display: inline;

    height: 23px;
    width: 46px;
    padding-left: 4px;
    text-align: right;

    background-color: rgb(198, 198, 198);
    border-width: 3px;
    border-radius: 2px;
    border-style: solid;
    border-top-color: white;
    border-right-color: rgb(85, 85, 85);
    border-bottom-color: rgb(85, 85, 85);
    border-left-color: white;
}

.score-input:hover {
    outline: none;
    color: white;
    border-top-color: rgb(85, 85, 85);
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: rgb(85, 85, 85);
    background-color: #8b8b8b; /*rgb(198, 198, 198);*/
}

.score-input:focus {
    outline: none;
    color: white;
    border-top-color: rgb(85, 85, 85);
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: rgb(85, 85, 85);
    background-color: #8b8b8b; /*rgb(198, 198, 198);*/
}

/* remove arrows from input field */
/* Chrome, Safari, Edge, Opera */
.score-input::-webkit-outer-spin-button,
.score-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.score-input[type=number] {
  -moz-appearance: textfield;
}