.sidebar-text-total, .sidebar-text-verdict {
  text-align: left;
  line-height: 23px;
  margin-top: 20px;
}

.sidebar {
  position: fixed;
  top: 60px;
  bottom: 0;
  right: 0;
  min-width: 300px;
  z-index: 100;

  padding: 0px 50px 50px 25px;

  background-color: rgb(198, 198, 198);
  border-width: 3px;
  border-radius: 3px;
  border-style: solid;
  border-top-color: white;
  border-right-color: rgb(85, 85, 85);
  border-bottom-color: rgb(85, 85, 85);
  border-left-color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}