.sidebar-text-generic, .sidebar-text-total, .sidebar-score-list, .hide-tooltip-text {
  text-align: left;
  line-height: 18px;
  margin: 15px 0 0 0;
}

.hide-tooltip-text {
    position: relative;
}

.sidebar-text-total {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 300px;
}

.sidebar-score-list {
    background-color: #1b0c1b;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(42, 8, 94);
    border-width: 4px;
    padding: 4px 4px 0px 4px;
    display: inline-block;
    min-width: 50px;
    margin: 10px 0 0 0;
}

.sidebar-score-name {
    margin: -2px 0 2px 0;
    padding: 0;
    font-size: 13px;
    color: #fcfcfc;
    line-height: 18px;
}

.sidebar-score {
    padding: 0;
    margin: 0;
    color: white;
    line-height: 18px;
}

.sidebar {
  position: fixed;
  top: 62px;
  bottom: 0;
  right: 0;
  min-width: 300px;
  max-width: 40%;
  width: auto;
  z-index: 90;

  padding: 5px 25px 50px 25px;

  background-color: var(--background);
  border-width: 3px;
  border-radius: 0;
  border-style: solid;
  border-top-color: var(--outset-top);
  border-right-color: var(--outset-bottom);
  border-bottom-color: var(--outset-bottom);
  border-left-color: var(--outset-top);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}

.nbt-data-flex {
    margin: 10px 0 0 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: start;
}

.give-command-generator {
    margin: 0 0 0 12px;
    background-color: black; /*#696969;*/
    border-color: white;
    border-width: 3px;
    border-style: solid;
    padding: 5px;
    position: relative;
    flex: 1;

    cursor: text;
}

.give-command {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0 0 0 5px;
    color: #a8a8a8;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 18px;
    display: block;
    -webkit-user-select: all; /* Safari */
    -ms-user-select: all; /* IE 10 and IE 11 */
    user-select: all; /* Standard syntax */
}

.nbt-copy-button, .tooltip-cycle-button {
    background-color: var(--background);

    display: inline-block;

    border-width: 3px;
    border-radius: 0;
    border-style: solid;
    border-top-color: var(--outset-top);
    border-right-color: var(--outset-bottom);
    border-bottom-color: var(--outset-bottom);
    border-left-color: var(--outset-top);
}

.nbt-copy-button {
    height: 34px;
    width: 34px;
    cursor: copy;
    padding: 0;
}

.tooltip-cycle-button {
    height: 23px;
    width: 1fr;
    margin: -4px 0 0 10px;
    position: absolute;
    padding: 2px;
}

.tooltip-cycle-text {
    font-family: Mojangles, Arial;
    font-size: 13px;
    word-spacing: 4px;
    color: var(--text);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    margin: 0;
}

.nbt-copy-button:hover, .tooltip-cycle-button:hover {
    border-color: var(--outset-top);
}

.nbt-copy-button:active, .tooltip-cycle-button:active {
    background-color: var(--selected-background);
    border-top-color: var(--inset-top);
    border-right-color: var(--inset-bottom);
    border-bottom-color: var(--inset-bottom);
    border-left-color: var(--inset-top);
}